<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/pygments/default.css" />

    {{ if eq .URL "/" }}
    <title>{{ .Site.Params.Title }}</title>
    <meta property="title"       content="{{ .Site.Params.Title }}" />
    <meta property="type"        content="website" />
    {{ else }}
    <title>{{ .Site.Params.Title }} :: {{ .Title }}</title>
    <meta property="title"       content="{{ .Site.Params.Title }} :: {{ .Title }}" />
    <meta property="type"        content="article" />
    {{ end }}
  </head>

  <body>
    <div class="header">
      <h2>{{ .Site.Params.Title }}</h2>
      <h3>{{ .Site.Params.Title_2 }}</h3>
    </div>

    <div class="topnav">
      <a href="/">Home</a>
      <a href="https://github.com/countdigi">Github</a>
    </div>

    {{ block "main" . }}

    {{ end }}

    <div class="footer">
      &copy; Kevin M. Counts - Updated {{ now.Format "2006-01-02" }}
    </div>
  </body>
</html>
